body{
    display: flex;
    gap: 50px;

}
.text1{
   width: 500px;
   height: 250px;
    border: 2px solid rgb(13, 11, 11);
   background-color: rgb(218, 210, 204);
   display: grid;
}
.text2{
   width: 500px;
   height: 250px;
   border: 2px solid rgb(16, 11, 11);
   background-color: rgb(191, 24, 116);
   display: grid;
}
.text3{
   width: 500px;
   height: 250px;
    border: 2px solid rgb(10, 9, 9);
   background-color:  rgb(18, 116, 213);
     display: flex;
   margin: 0 auto;
}
.text4{
   width: 500px;
   height: 250px;
    border: 2px solid rgb(14, 12, 12);
   background-color: greenyellow;
      display: flex;
   margin: 0 auto;
}
.text5{
   width: 500px;
   height: 250px;
    border: 2px solid rgb(17, 5, 5);
   background-color: rgb(213, 168, 19);
   background-image: url(https://img.transport.kg/photo/generation_photos/mercedes-benz_e-class_1135709.jpg);
   display: flex;
   margin: 0 auto;
  

}

.homework-01{
    width: 500px;
    height: 300px;
    border: 2px solid white;
    border-radius: 16px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyFh51BeHELRkv6ggFlJXqJqerXkNW3ABTaQ&s);
    height: 200px;
    box-shadow: 10px 10px 10px black;
}
.homework-01:hover{
    transform: scale(1.1);
     box-shadow: 20px 10px 20px red;
}
.homework-02{
    width: 500px;
    height: 300px;
    border: 2px solid white;
    border-radius: 16px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnkXX1msb3FcwUKdveOb4VJ_8dlsezqUlqEQ&s);
  height: 200px;
      box-shadow: 10px 10px 10px black;
    
}
.homework-02:hover{
    transform: scale(1.1);
     box-shadow: 20px 10px 20px red;
}
.homework-03{
    width: 500px;
    height: 300px;
    border: 2px solid white;
    border-radius: 16px;
      background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7aoZzcuQyQjq_AyiGGqOK9hHxvissw7T_yA&s);
      height: 200px;
          box-shadow: 10px 10px 10px black;
}
.homework-03:hover{
    transform: scale(1.1);
     box-shadow: 20px 10px 20px red;
}
.homework-04{
    width: 500px;
    height: 300px;
    border: 2px solid white;
    border-radius: 16px;
      background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6pJXVXZJIBfMUDUbLCfui0hSdvVw3L6E-tw&s);
      height: 200px;
          box-shadow: 10px 10px 10px black;
}
.homework-04:hover{
    transform: scale(1.1);
     box-shadow: 20px 10px 20px red;
}
.homework-05{
    width: 500px;
    height: 300px;
    border: 2px solid white;
    border-radius: 16px;
      background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4RcCMLeRMOtqUXQppIxO8SE3IQxh6rbdYNA&s);
      height: 200px;
          box-shadow: 10px 10px 10px black;
         
}
.homework-05:hover{
    transform: scale(1.1);
     box-shadow: 20px 10px 20px red;
 
}